# Auto detect text files and perform LF normalization
* text=auto
consulta_cand_2020_BRASIL.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2012_total.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2016_total.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2020_total.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2004_total.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2008_total.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2016/consulta_cand_2016_AL.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2020/consulta_cand_2020_BA.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2020/consulta_cand_2020_RJ.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2016/consulta_cand_2016_GO.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2020/consulta_cand_2020_AL.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2020/consulta_cand_2020_PB.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2020/consulta_cand_2020_PE.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2020/consulta_cand_2020_RR.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2016/consulta_cand_2016_PA.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2016/consulta_cand_2016_PR.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2016/consulta_cand_2016_RN.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2016/consulta_cand_2016_SP.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2020/consulta_cand_2020_MA.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2020/consulta_cand_2020_PR.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2016/consulta_cand_2016_PI.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2016/consulta_cand_2016_RO.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2016/consulta_cand_2016_PB.csv filter=lfs diff=lfs merge=lfs -text
dados/dado_final/dados_totais.csv filter=lfs diff=lfs merge=lfs -text
dados/normalizados/consulta_cand_2004_total.csv filter=lfs diff=lfs merge=lfs -text
dados/normalizados/consulta_cand_2008_total.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2020/consulta_cand_2020_SC.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2016/consulta_cand_2016_BA.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2016/consulta_cand_2016_MG.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2016/consulta_cand_2016_PE.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2020/consulta_cand_2020_AM.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2020/consulta_cand_2020_MS.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2020/consulta_cand_2020_MT.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2020/consulta_cand_2020_PI.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2016/consulta_cand_2016_AM.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2016/consulta_cand_2016_SE.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2020/consulta_cand_2020_CE.csv filter=lfs diff=lfs merge=lfs -text
dados/normalizados/consulta_cand_2016_total.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2016/consulta_cand_2016_ES.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2020/consulta_cand_2020_SP.csv filter=lfs diff=lfs merge=lfs -text
dados/normalizados/consulta_cand_2020_total.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2016/consulta_cand_2016_CE.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2020/consulta_cand_2020_BRASIL.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2020/consulta_cand_2020_ES.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2020/consulta_cand_2020_RN.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2020/consulta_cand_2020_SE.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2020/consulta_cand_2020_TO.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2016/consulta_cand_2016_AC.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2020/consulta_cand_2020_AC.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2016/consulta_cand_2016_AP.csv filter=lfs diff=lfs merge=lfs -text
dados/normalizados/consulta_cand_2012_total.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2016/consulta_cand_2016_MS.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2016/consulta_cand_2016_MT.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2016/consulta_cand_2016_RR.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2016/consulta_cand_2016_SC.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2020/consulta_cand_2020_AP.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2020/consulta_cand_2020_RO.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2016/consulta_cand_2016_RS.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2016/consulta_cand_2016_TO.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2020/consulta_cand_2020_MG.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2020/consulta_cand_2020_PA.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2016/consulta_cand_2016_BRASIL.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2016/consulta_cand_2016_RJ.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2020/consulta_cand_2020_RS.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2016/consulta_cand_2016_MA.csv filter=lfs diff=lfs merge=lfs -text
dados/consulta_cand_2020/consulta_cand_2020_GO.csv filter=lfs diff=lfs merge=lfs -text
dados/normalizados/dados_totais.csv filter=lfs diff=lfs merge=lfs -text
